# Ignore all files in these directories but keep the folder structure
base_cards/**/*
!base_cards/**/.gitkeep

fonts/**/*
!fonts/**/.gitkeep

invites/**/*
!invites/**/.gitkeep

# Virtual environment
venv/

# Generated names file
names.csv

# Generated work allocation PDFs
workAllotment/work/
workAllotment/work.csv

invites.zip

.DS_Store